<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entrainement du modèle</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/entrainer-le-modele">Entraîner un modèle</a></li>
            <li><a href="/assistance">Assistance</a></li>
        </ul>
    </nav>

    <section class="section">
        <h1 class="h1-title">Entrainement du modèle</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="file1">Jeu de données d'entrainement :</label>
            <input type="file" id="file1" name="file1" accept=".csv" required><br><br>
            
            <label for="file2">Jeu de données de validation :</label>
            <input type="file" id="file2" name="file2" accept=".csv" required><br><br>

            <label for="epoch">Nombre d'époques :</label>
            <input type="number" id="epoch" name="epoch" min="5" min="20" required><br><br>

            <div class="div-btn">
                <input class="btn-submit" type="submit" value="Entrainer">
            </div>
        </form>
        <div id="result"></div>
    </section>


    <script>
        $(document).ready(function () {
            $('#uploadForm').on('submit', function (e) {
                e.preventDefault();

                var formData = new FormData(this);

                $('#result').html('<p style="color: black">Entrainement en cours...</p>');

                $.ajax({
                    url: '/training',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#result').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error: ' + textStatus + ' - ' + errorThrown);
                    }
                });
            });
        });
    </script>
</body>
</html>
